#header {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: right;
  position: fixed;
  width: 100%;
  height: 69px;
  margin-top: -8px;
}

nav {
  position: absolute;
}

 .menu ul li {
  width: 45%;
  margin-right: 25px;
  height: 69px;
  list-style-type: none;
  display: inline;
}

.logoIMG {
  float: left;
  width:45%;
  margin-right:10px;
  height: 69px;
  margin-top: 10px;
}

a {
  color: seashell;

}

#jar {
  padding-top: 69px;
  height: 700px;
  width: 100%;
}

#mission{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  height: 700px;
  padding-top: 69px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 3px 0 3px;

}
.content,
  h2,
    h4{
      font-family: Helvetica;
      text-align: center;
      color: seashell;
}
body {
  background-color: black;
}

.teaImg {
  height: 200px;
  width: 300px;
  padding: 10px;
}

.locationDetails {
  display: inline-block;
  height: 300px;
  width: 300px;
  background-color: black;
  opacity: 1;
  font-family: Helvetica;
  color: seashell;
  margin: 40px;
}
#location {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  height: 500px;
  font-family: Helvetica;
  color: seashell;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 0.25% 0 0.25%;
}

#copyright {
  text-align: left;
  margin-left: 20px;
}
#ourMission{
  height: 70px;
  width: 100%;
  background-color: black;
  margin-top: 350px;
  margin-right: 300px;
}
#contact {
  padding-top: 50px;
}

#teaTitle {
  text-align: center;
  width: 100%;
}
.teaElement {
  text-align: center;
}
.tea {
  display: inline-block;
}
#featured{
  text-align: center;
}
